<div>
    <div *ngIf="loading">
        <img src="app/assets/pre-loading.gif" /> 
    </div>
    <div *ngIf="companies" class="table-container">
        <div class="row" style="margin-bottom:8px">
            <div class="col-md-1">
                <input class="input-sm" (click)="toggle()" type="button" [value]="toggleValue" />
            </div>
            <div class="col-md-5">
                <h4 style="margin:0px"><img src="./app/assets/social_table_jeans_pocket_media_base_icon_file.png" /> Securities <span *ngIf="total"> - {{total}} results found.</span></h4>
            </div>                          
            <div class="col-md-6">
                <pagination-controls (pageChange)="getCompanyPage($event)" id="server"></pagination-controls>
            </div>
        </div>
        <table id="companyTable" class="table table-filter table-striped">
            <tbody>
                <tr *ngFor="let company of companies | paginate: {id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }" (click)="selectCompany(company.permanentSecurityID)">
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="{{company.imgUrl}}" class="media-photo">
                            </a>
                            <div class="media-body">
                                <span *ngIf="company.marketValueCurrent" class="media-meta">Market Value: {{company.marketValueCurrent}}</span>
                                <h4 class="title">
                                    {{company.companyName}}
                                    <span class="pull-right pagado">{{company.countryISO}}</span>
                                </h4>
                                <p class="summary">{{company.businessDescriptionAbbrev}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>