<div>
    <div *ngIf="loading">
        <img src="app/assets/pre-loading.gif" /> 
    </div>
    <div *ngIf="companies" class="table-container">
        <div class="row">
                <div class="col-md-3">
                    <h4><img src="./app/assets/social_table_jeans_pocket_media_base_icon_file.png" /> Companies</h4>
                </div>
                <div class="col-md-3">
                    <input class="input-sm" (click)="toggle()" type="button" [value]="toggleValue" />
                </div>
            <div class="col-md-6">
                <pagination-controls (pageChange)="getCompanyPage($event)" id="server"></pagination-controls>
            </div>
        </div>
        <table id="companyTable" class="table table-filter table-striped">
            <!--<thead>
                <tr>
                    <th>Factset Security ID</th>
                    <th>Factset Entity ID</th>
                    <th>Company Details</th>
                </tr>
            </thead>-->
            <tbody>
                <tr *ngFor="let company of companies | paginate: {id: 'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }" (click)="selectCompany(company.permanentSecurityID)">
                    <!--<td>
                        <div class="media">
                            <p class="summary">{{company.permanentSecurityID}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <p class="summary">{{company.entityId}}</p>
                        </div>
                    </td>-->
                    <td>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                            </a>
                            <div class="media-body">
                                <span *ngIf="company.marketValueCurrent" class="media-meta">Market Value: {{company.marketValueCurrent}}</span>
                                <h4 class="title">
                                    {{company.companyName}}
                                    <span class="pull-right pagado">{{company.countryISO}}</span>
                                </h4>
                                <p class="summary">{{company.businessDescriptionAbbrev}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>