    <!-- Sidebar search -->
        <div>
            <div class="headerIndent" style="padding:5px">
                <h4><label>Company Search</label></h4>
            </div>
            <div class="divUnderline">
                <div class="divUnderline" style="padding-top:5px;padding-bottom:5px">
                    <autocomplete></autocomplete>
                </div>
                <div class="divUnderline" style="background-color:white">
                    <label>Customize Search</label>
                </div>
                <div *ngIf="companySearch.industries" class="input-group">
                    <label>Industry</label>
                    <ng-select class="input-sm" [data]="value"
                               [multiple]="true"
                               [items]="industryItems"
                               (selected)="selectedIndustry($event)"
                               (removed)="removedIndustry($event)"
                               placeholder="Select Industries">
                    </ng-select>
                </div>
                <div *ngIf="companySearch.countries" class="input-group">
                    <label>Country</label>
                    <ng-select class="input-sm" [data]="value"
                               [multiple]="true"
                               [items]="countryItems"
                               placeholder="Select Country">
                    </ng-select>
                </div>
                <div *ngIf="companySearch.sics" class="input-group">
                    <label>SIC</label>
                    <ng-select class="input-sm" [data]="value"
                               [multiple]="true"
                               [items]="sicItems"
                               placeholder="Select SIC">
                    </ng-select>
                </div>
                <div *ngIf="companySearch.entityTypes" class="input-group">
                    <label>Entity Type</label>
                    <ng-select class="input-sm" [data]="value"
                               [multiple]="true"
                               [items]="entityTypeItems"
                               placeholder="Select Entity Type">
                    </ng-select>
                </div>
                <div *ngIf="companySearch.sectors" class="input-group">
                    <label>Sector</label>
                    <ng-select class="input-sm" [data]="value"
                               [multiple]="true"
                               [items]="sectorItems"
                               placeholder="Select Sector">
                    </ng-select>
                </div>
            </div>
            <div style="padding:8px">
            <input type="submit" value="Search">
            </div>
        </div>
    <!-- /#sidebar-wrapper -->