    <!-- Sidebar search -->
        <div>
            <div class="headerIndent" style="padding:5px">
                <h4><label>Company Search</label></h4>
            </div>
            <div class="divUnderline">
                <div class="divUnderline" style="padding-top:5px;padding-bottom:5px">
                    <autocomplete></autocomplete>
                </div>
                <div class="divUnderline" style="background-color:white">
                    <label>Customize Search</label>
                </div>
                <div>
                    <label>Industries Multi-Select</label>
                    <ng-select style="z-index:1001" [data]="value"
                               [multiple]="true"
                               [items]="items"
                               (selected)="selected($event)"
                               (removed)="removed($event)"
                               placeholder="Select Industries">
                    </ng-select>
                </div>
                <div class="input-group">
                    <label>Industries</label>
                    <select>
                        <option *ngFor="let industry of companySearch.industries" value="industry.industryDescription"> {{industry.industryDescription}}</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>Countries</label>
                    <select>
                        <option *ngFor="let country of companySearch.countries" value="country.isoCountry"> {{country.isoCountry}} - {{country.countryDescription}}</option>
                    </select>
                </div>
                <div class="input-group">
                    <label>SIC</label>
                    <select>
                        <option *ngFor="let sic of companySearch.sics" value="sic.siccode"> {{sic.sicCode}} - {{sic.sicDescription}}</option>
                    </select>
                </div>
            </div>
            <div style="padding:8px">
            <input type="submit" value="Search">
            </div>
        </div>
    <!-- /#sidebar-wrapper -->