    <!-- Sidebar search -->
    <div style="padding:6px">
        <div class="well" style="padding:5px;text-align:center;margin-bottom:0px">
            <h4><img src="./app/assets/beecustomizedicon_config_base_window.png" /> Company Search</h4>
        </div>
        <div>
            <div class="input-group" style="padding-top:5px;padding-bottom:5px">
                <input [(ngModel)]="selected"
                       [typeahead]="companyListArray"
                       (typeaheadOnSelect)="typeaheadOnSelect($event)"
                       class="form-control">
                <span (click)="alert()" class="input-group-addon" style="cursor:pointer"><i class="glyphicon glyphicon-search"></i></span>
                <!--<autocomplete></autocomplete>-->
            </div>
            <accordion>
                <accordion-group heading="Customize Search Options" [isOpen]="accordionOpen" panelClass="panel panel-primary">
                    
                    <div>
                        <label>Universe</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked="checked" /> American</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked="checked" /> Europe</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked="checked" /> Asia/Pacific</label>
                    </div>
                    <div *ngIf="companySearch.industries" class="input-group">
                        <label>Industry</label>
                        <ng-select class="input-sm" 
                                   [initData]="industrySelectedItems"
                                   [multiple]="true"
                                   [items]="industryItems"
                                   (selected)="selectedIndustry($event)"
                                   (removed)="removedIndustry($event)"
                                   placeholder="Select Industries">
                        </ng-select>
                    </div>
                    <div *ngIf="companySearch.countries" class="input-group">
                        <label>Country</label>
                        <ng-select class="input-sm" 
                                   [initData]="countrySelectedItems"
                                   [multiple]="true"
                                   [items]="countryItems"
                                   (selected)="selectedCountry($event)"
                                   (removed)="removedCountry($event)"
                                   placeholder="Select Country">
                        </ng-select>
                    </div>
                    <div *ngIf="companySearch.sics" class="input-group">
                        <label>SIC</label>
                        <ng-select class="input-sm" 
                                   [initData]="sicSelectedItems"
                                   [multiple]="true"
                                   [items]="sicItems"
                                   (selected)="selectedSIC($event)"
                                   (removed)="removedSIC($event)"
                                   placeholder="Select SIC">
                        </ng-select>
                    </div>
                    <div *ngIf="companySearch.entityTypes" class="input-group">
                        <label>Entity Type</label>
                        <ng-select class="input-sm" 
                                   [initData]="entitySelectedItems"
                                   [multiple]="true"
                                   [items]="entityTypeItems"
                                   (selected)="selectedEntityType($event)"
                                   (removed)="removedEntityType($event)"
                                   placeholder="Select Entity Type">
                        </ng-select>
                    </div>
                    <div *ngIf="companySearch.sectors" class="input-group">
                        <label>Sector</label>
                        <ng-select class="input-sm" 
                                   [initData]="sectorSelectedItems"
                                   [multiple]="true"
                                   [items]="sectorItems"
                                   (selected)="selectedSector($event)"
                                   (removed)="removedSector($event)"
                                   placeholder="Select Sector">
                        </ng-select>
                    </div>
                    <div style="padding:8px">
                        <input type="submit" value="Search" (click)="getFilteredCompanies()">
                    </div>
                </accordion-group>
                <accordion-group heading="Recently Visited">
                    <label>something</label>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->