    <!-- Sidebar search -->
        <div id="sidebar-wrapper">
            <p>can this be anything?</p>
            <label>Search</label>
            <input type="text" placeholder="Enter Company.."/>
            <div>
                <label>Additional Filters:</label>
                <ul>
                    <li *ngFor="let industry of industries">
                        <input type="checkbox" value="industry.id">{{industry.name}}
                    </li>
                </ul>
            </div>
        </div>
    <!-- /#sidebar-wrapper -->