<div class="row">
    <div class="col-md-12">
        <div *ngIf="loading">
            <img src="app/assets/pre-loading.gif" />
        </div>
    </div>
    <div class="col-md-12 well" *ngIf="companyDetail">
        <h2>{{companyDetail.companyName}}
            <small>{{companyDetail.countryISO}}</small>   <input type="button" class="btn btn-warning" value="CREATE ACCOUNT" /><br />
            <small>{{companyDetail.ticker.substring(0, companyDetail.ticker.indexOf("-"))}} {{ companyDetail.exchange}}</small>
        </h2>
    </div>
    <div class="col-md-2 well" *ngIf="companyDetail">
        <dl>
            <dt>Business Description</dt>
            <dd>{{companyDetail.businessDescriptionAbbrev}}</dd>
            <dt>Universe</dt>
            <dd>{{companyDetail.universeAmerica === 1 ? 'America' : companyDetail.universeEurope === 1 ? 'Europe' : companyDetail.universeAsiaPacific === 1 ? 'Asia/Pacific' : ''}}</dd>
            <dt>Latest Annual Update</dt>
            <dd>{{companyDetail.latestAnnualUpdate}}</dd>
            <dt>Market Value</dt>
            <dd>{{companyDetail.marketValueCurrent}}</dd>
            <dt>Cash Flow Per Share</dt>
            <dd>{{companyDetail.cashFlowPerShare}}</dd>
            <dt>Dividends Per Share</dt>
            <dd>{{companyDetail.dividendsPerShare}}</dd>
            <dt>Price To Book Value</dt>
            <dd>{{companyDetail.priceToBookValue}}</dd>
            <dt>Dividend Yield</dt>
            <dd>{{companyDetail.dividendYield}}</dd>
            <dt>Dividend Payout Per Share</dt>
            <dd>{{companyDetail.dividendPayoutPerShare}}</dd>
            <dt>Price To Earnings</dt>
            <dd>{{companyDetail.priceToEarnings}}</dd>
        </dl>
    </div>
     <div class="col-md-10 well" *ngIf="companyDetail">
         <h2>Financials</h2>
         <div class="col-md-12">
             <div class="btn-group">
                 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{type == 'BS' ? 'Balance Sheet' : type == 'CF' ? 'Cash Flow' : type == 'IS' ? 'Income Statement' : '' }}  <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu">
                     <li style="cursor:pointer" (click)="getStatements(period,'BS')">Balance Sheet</li>
                     <li style="cursor:pointer" (click)="getStatements(period,'IS')">Income Statement</li>
                     <li style="cursor:pointer" (click)="getStatements(period,'CF')">Cash Flow</li>
                 </ul>
             </div>
             <div class="btn-group">
                 <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{period}}   <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu">
                     <li style="cursor:pointer" (click)="getStatements('Annual',type)">Annual</li>
                     <li style="cursor:pointer" (click)="getStatements('Quarterly',type)">Quarterly</li>
                     <li style="cursor:pointer" (click)="getStatements('LTM',type)">LTM</li>
                     <li style="cursor:pointer" (click)="getStatements('Semi-Annual',type)">Semi-Annual</li>
                 </ul>
             </div>
         </div>
         <div class="col-md-12" style="padding:15px">
             <financial-detail #financial [activeStatements]="activeFinancials"></financial-detail>
         </div>
         <!--<div class="col-md-2">
             col_md_2
         </div>
         <div class="col-md-2">
             col_md_2
         </div>
         <div class="col-md-2">
             col_md_2
         </div>
         <div class="col-md-2">
             col_md_2
         </div>
         <div class="col-md-2">
             col_md_2
         </div>
         <div class="col-md-2">
             col_md_2
         </div>-->
     </div>
</div>
